# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# OS X
.DS_Store

# Latex
*.aux
*.log
*.out

# Pictures
*.png
*.ppm

# temporary files made by emacs/vim
*~

anc
*anc
*.DS_STORE